<h1>Sign up Form</h1>

<a href="/register">Register</a>
<a href="/logout">Logout</a>
<a href="/login">Login</a>

<form action="/register" method="POST">
    <input type="text" placeholder="username" name="username">
    <input type="password" placeholder="password" name="password">
    <button>Submit</button>
</form>