<h1>This is the secret page</h1>

<a href="/register">Register</a>
<a href="/logout">Logout</a>
<a href="/login">Login</a>

<img src="https://scontent-dft4-2.xx.fbcdn.net/v/t1.0-9/14344327_161346570981169_7595779781139811905_n.jpg?oh=4ade7dfcb019abc83bb305af9898d4c4&oe=5A5B4CCB"></img>